@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #EFF2F7;
  color: #0F1729;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E60023;
  border-radius: 10px;
  border: 1px solid #E60023;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a30018;
  transition-duration: 0.3s;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}